<div class="col-md-4 offset-md-1">
    <div class="card card-body text-center">
        <h3>Image</h3>
        <img [src]="character.image == '' ? '/assets/noimage.png': character.image" 
            class="card-img-top"
        />
</div>
</div>
  
<div class="col-md-5">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Information</h3>
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" [(ngModel)]="character.name" placeholder="Name" 
                    class="form-control" readonly
                />
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="status">Status: </label>
                    <input type="text" [(ngModel)]="character.status" placeholder="Status" 
                        class="form-control" readonly
                    />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="species">Species: </label>
                    <input type="text" [(ngModel)]="character.species" placeholder="Species" 
                        class="form-control" readonly
                    />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="gender">Gender: </label>
                    <input type="text" [(ngModel)]="character.gender" placeholder="Gender" 
                        class="form-control" readonly
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" *ngIf="character.origin" >
                    <label for="origin">Origin: </label>
                    <div class="card text-center">
                        <div class="card-header bg-light text-black d-flex justify-content-between align-items-center">
                        {{ character.origin.name }}
                        <button class="btn btn-success" [routerLink]="['/character', character.id]">
                            <i class="fas fa-eye"></i>
                        </button>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-md-6">
                <div class="form-group" *ngIf="character.location" >
                    <label for="location">Location: </label>
                    <div class="card text-center">
                        <div class="card-header bg-light text-black d-flex justify-content-between align-items-center">
                        {{ character.location.name }}
                        <button class="btn btn-success" [routerLink]="['/character', character.id]">
                            <i class="fas fa-eye"></i>
                        </button>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="form-group"  *ngIf="character.episode">
                <label for="episode">Episodes: </label>
                <div class="text-center">
                    <select class="form-control" >
                        <option value=""> ... </option>
                        <option [value]="episode" *ngFor="let episode of character.episode">{{episode}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
  
  
