.infogn {
    display: block;
}
.infotb {
    display: none;
}

@media (min-width: 768px) and (max-width: 992px) {
    .infotb {
        display: block;
    }
    .infogn {
        display: none;
    }    
}