<div class="infogn col-md-12">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Information</h3>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" [(ngModel)]="episode.name" placeholder="Name" 
                        class="form-control" readonly
                    />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="air_date">Air date: </label>
                    <input type="text" [(ngModel)]="episode.air_date" placeholder="Air date" 
                        class="form-control" readonly
                    />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="episode">Episode: </label>
                    <input type="text" [(ngModel)]="episode.episode" placeholder="Episode" 
                        class="form-control" readonly
                    />
                </div>
            </div>
        </div>
    </div>
</div>


